.theme-container .home-blog .hero{
    height:500px;
position: relative;
}
.theme-container .home-blog .hero:before{
    filter: brightness(0.85);
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(https://gitee.com/bindyy/img/raw/master/theme/pexels-pineapple-supply-co-185348.jpg) no-repeat center top/cover ;
}

.home-blog .hero .action, .home-blog .hero .description, .home-blog .hero h1 {
    color: #fff!important;
}
.dark .theme-container .home-blog .hero:before{
    filter: brightness(0.6);
}
.iconfont.reco-theme,
.iconfont.reco-theme+a{
    display: none;
}
.footer-wrapper.footer > span[data-v-5c2f9e2f]{
    margin-left: 0;
}