// 默认值
$accentColor = #CC0033                   // 主题颜色
$textColor = #333366                       // 文本颜色
$borderColor = #ccc                      // 边框线颜色
$codeBgColor = #282c34                      // 代码块背景色